:root {
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
  }
  
*{
    margin: 0;
    padding: 0;
}
  
body {
    /*font-family: montserrat, sans-serif;*/
    width: 100%;
    min-height: 100vh;
}
section{
    padding: 10px 20px;
    display:inline-flex;
    justify-content: center;
} 
.card3 {
    display:flex;
    flex-direction: column;
    margin: 10px;
    width: 350px;
    height: 500px;
    perspective: 1000px;
} 
.card__inner3 {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
  
.card__inner3.is-flipped {
    transform: rotateY(180deg);
}
  
  
.card__profile {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
  
.card__profile--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.card__profile--front h2 {
    color: #FFF;
    font-size: 32px;
}
/*------------------------*/
.card__profile1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
  
.card__profile1--front {
    background-image: linear-gradient(to bottom right, var(--primary), var(--primary));
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.card__profile1--front h2 {
    color: #FFF;
    font-size: 32px;
}  
/*----------------------------*/
.card__profile--back {
    background-color: var(--light);
    transform: rotateY(180deg);
}
  
.card__content {
    flex-direction: column;
    width: 100%;
    height: 100%;
}
  
.card__header {
    position: relative;
    padding: 30px 40px 30px;
}
  
.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    z-index: -1;
    border-radius: 0px 0px 50% 0px;
  }
  
.pp {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 30px;
    border-radius: 50%;
    background-color: #FFF;
    border: 5px solid #FFF;
    object-fit: cover;
  }
  
.card__header h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
  
.card__body {
    padding: 10px;
}
.card__body div{
    padding-bottom: 10px;
} 

.card__body h3 {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card__body button{
    padding: 5px 10px;
    margin-left: 72%;
}
.card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
}
.card_body_edit button{
    width: 80px;
    border-radius: 10px;
    border-color: white;
    background-color: cornflowerblue;
}
.card1 {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 210px 210px 80px;
    
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
}
.card2{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 210px 210px 80px;
    
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
} 
.card1  table{
    padding: 10px;
    width: 100%;
}
th{
    color:cornflowerblue;
}
th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid cornflowerblue;
}
.title{
    background-color:rgb(100,149,237,0.5);
    border-radius: 18px;
    display:flex;
    justify-content: center;
    width: 100%;
    height:50px;
    padding: 10px 0px;
}
.title img{
    margin-right: 5px;
    height: 25px;
    width: 25px;
}
table th a{
    text-decoration: none;
}
.bt-service-content{
    display:flex;
    justify-content: right;
    margin:55% 20px 0px 100px;
}
.bt-service-content button{
    padding: 5px 10px;
    border-radius: 10px;
    border-color: white;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
}
.appointment-content{
    display:flex;
    padding-top: 10px;
}
.bt-appointment-content{

    display:flex;
    justify-content: right;
    margin:57% 20px 0px 100px;
}
.bt-appointment-content button{
    padding: 5px 10px;
    border-radius: 10px;
    border-color: white;
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
}

