section div{
    display:flex;
    padding:20px;
  
}
section label{
    text-align: center;
}
.garage{
    display:flex;
    flex-direction: column;
    border:2px solid red;
    text-align: left;
    
}
.garage table{
    border-spacing: 10px 10px;
}

table, th,td{
    border-bottom: 1px solid cornflowerblue;
}
th,td{
  padding: 10px;
  text-align: left;
}
.profile{
    display: flex;
    flex-direction:column;
    justify-content: right;
    border:2px solid green;
    
}
label{
    display:inline-block;
    width: 200px;
}
.form_tb1{
    height: 80vh;
}

.form_tb1 div {
    margin-bottom: 10px;
    width: 95%;
}
.form_tb1 div input {
    width: 65%;
    padding:5px;
}
.form_tb1{
    font-family: 'Courier New', Courier, monospace;
    display:block;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    background-color:#b3daff;
    margin: auto;
    margin-top:20px;
    padding:30px 0px 20px 10px;
}
.form_tb2{
    height: 80vh;
}
.form_tb2 div {
    margin-bottom: 10px;
    width:95%;
}
.form_tb2 div input {
    width: 65%;
    padding:5px;
}
.form_tb2{
    font-family: 'Courier New', Courier, monospace;
    display:block;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    background-color:#b3daff;
    margin: auto;
    margin-top:20px;
    /*margin-bottom: 20rem;*/
    margin-bottom: 100px;
    padding:30px 0px 20px 10px;
}
.garageField {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content:left;
    border: 1px solid;
    
}
.garageField img{
    width: 25px;
    height: 25px;
}

.garageField input, .garageField input:focus {
    border:none;
    outline: none;
}
footer{
    background: url("/images/cars.png") 0 0 no-repeat;
    background-position: center;
    min-height: 400px;
    margin: auto;
    height: 25rem;
    width: 100%;
    overflow: hidden;
}
.overflow{
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.40);
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.form_car{
    height: 130vh;
}
.form_car div {
    margin-bottom: 10px;
    width: 95%;
}
.form_car div input {
    width: 65%;
    padding:5px;
}
.form_car{
    font-family: 'Courier New', Courier, monospace;
    display:block;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    background-color:#b3daff;
    margin: auto;
    margin-top:20px;
    margin-bottom: 30px;
    padding:30px 0px 20px 10px;
}
/*-----------------------------form for appointment------------------*/
.form_appointment{
    height: 130vh;
}
.form_appointment div {
    margin-bottom: 10px;
    width: 95%;
}
.form_appointment div input {
    width: 65%;
    padding:5px;
}
.form_appointment{
    font-family: 'Courier New', Courier, monospace;
    display:block;
    width: 50%;
    border-radius: 10px;
    justify-content: center;
    background-color:#b3daff;
    margin: auto;
    margin-top:20px;
    margin-bottom: 30px;
    padding:30px 0px 20px 10px;
}
/*--------------------------------------------------------------------*/
.btnsection{
    display: flex;
    gap:10px;
    justify-content:right;
   
}
.btnsection button{
    padding: 5px 25px;
    font-size: 15px;
}
.service{
    display: flex;
    justify-content: center;
    width: 100%;
}
.service label{
    width: 100%;
}
select{
    width: 100%;
    padding:10px 10px;
}
.name_select label{
    font-wight: bold;
}

   



