<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style_navbar.css}">
    <link rel="stylesheet" th:href="@{/css/style_body.css}">
    <link rel="stylesheet" th:href="@{/css/logo_profile.css}">
    <title>AutoGarage | Add a auto service</title>
    <style>

    </style>
</head>

<body>
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">
            
            <div class="logo-container">
                <a href="/"><h3 class="logo">Auto<span>Garage</span></h3></a>
            </div>

            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .85s">
                            <a href="#">Why AutoGarage?<img style="width: 20px; height: 20px;" th:src="@{/images/point-down.png}"></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Car services</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Prices</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Real photes</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="#">Tools<img style="width: 20px; height: 20px;" th:src="@{/images/point-down.png}"></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="addcar">Add a car</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="addAutoService">Add a auto service</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="addAppointment">Make an appointment</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">About</a>
                        </li>
                    </ul>
                </div>

                <div class="log-sign" style="--i: 1.8s">
                    <a href="#"><img style="width: 25px; height: 25px;" th:src="@{/images/user_black.png}"></a>
                    <div class="dropdown-profile">
                        <ul>
                            <li style="border-bottom:2px solid #efefef">
                                <a href="/">
                                    <div>
                                        <img th:src="@{/images/dashboard.png}"/>
                                    </div>
                                    <div>
                                        <p>Dashboard</p>
                                    </div>
                                </a>
                            </li>
                            <li><a href="editProfile">
                                    <div>
                                        <img th:src="@{/images/edit_profile_blue.png}"/>
                                    </div>
                                    <div>
                                        <p>Edit</p>
                                    </div>
                                </a>
                             </li>
                            <li sec:authorize="isAuthenticated()"th:action="@{/logout}" method="post">

                                    <div>
                                        <img th:src="@{/images/logout.png}"/>
                                    </div>
                                    <div>
                                        <p>Log out</p>
                                    </div>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    
        <section>
            <form class="form_tb1" th:action="@{/submitAutoService}" th:object="${newAutoService}" method="post">
                <div>
                    <label style="margin-top:10px;"><b>Name</b></label>
                    <div class="garageField">
                        <img th:src="@{/images/car-repair.png}">
                        <input placeholder="Enter your name of auto service" type="text" th:field="${newAutoService.name}" name="name" size="50" required/>
                    </div>
                </div>
                <div>
                    <label style="margin-top:10px;"><b>Address</b></label>
                    <div class="garageField">
                        <img th:src="@{/images/location.png}">
                        <input placeholder="Enter your address of auto service" type="text" th:field="${newAutoService.address}" name="address" size="50" required/>
                    </div>
                </div>
                <div>
                    <label style="margin-top:10px;"><b>Phone</b></label>
                    <div class="garageField">
                        <img th:src="@{/images/telephone.png}">
                        <input placeholder="Enter your phone of auto service" type="text" th:field="${newAutoService.phone}" name="phone"maxlength="10" size="10" required/>
                    </div>
                </div>
                <div>
                    <label style="margin-top:10px;"><b>Photos</b></label>
                    <div class="garageField">
                        <img th:src="@{/images/photos.png}">
                        <input placeholder="Enter some photes with your auto service" type="file" accept="image/png, image/jpeg" multiple size="10"/>
                    </div>
                </div>
                <div class="btnsection">
                    <button type="submit">Save</button>
                    <button type="reset">Reset</button>
                </div>
            </form>

            <form class="form_tb2" th:action="@{/submitService}" th:object="${newService}" method="post">
                <div class="service">
                    <label>Section for service and prices</label>
                </div>
                <div class="name_select">
                    <label style="margin-top: 20px;"><b>Name of auto service</b></label>
                    <div>
                        <select name="name-select" class="auto-select">
                            <option th:each="item:${autoServiceList}" th:value="${item.name}" th:text="${item.name}"></option>
                        </select>
                        
                    </div>
                </div>
                <div>
                    <label style="margin-top:10px;"><b>Services</b></label>
                    <div class="garageField">
                        <img th:src="@{/images/service.png}" alt="">
                        <input placeholder="Enter services" type="text" th:field="${newService.service}" name="service" size="50" required />
                    </div>
                </div>
                <div>
                    <label style="margin-top:10px;"><b>Prices</b></label>
                    <div class="garageField">
                        <img th:src="@{/images/price-tag.png}">
                        <input placeholder="Enter prices for services introduced" type="text" th:field="${newService.price}" name="price" size="50" required/>
                    </div>
                    
                </div>
                <div class="btnsection">
                    <button type="submit">Save</button>
                    <button type="reset">Reset</button>
                </div>
                
            </form>
        </section>
<footer>
    <div class="overflow">    
        <div>
            <h4 style="padding-top: 120px;" class="logo">Auto<span>Garage</span></h4>
        </div>
        <div>
            <h4 style="padding-top: 200px;">Web development with Spring Boot, Endava</h4>
        </div>
    </div>
</footer>
</body>
<script th:src="@{/js/logo-profile.js}"></script>
</html>