<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script th:src="@{https://kit.fontawesome.com/64d58efce2.js}" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style_navbar.css}">
    <link rel="stylesheet" th:href="@{/css/cars.css}">
    <link rel="stylesheet" th:href="@{/css/logo_profile.css}">
    <title>AutoGarage | Cars</title>
</head>
<body>
<header>
    <div class="container">
        <input type="checkbox" name="" id="check">
        
        <div class="logo-container">
            <a href="Dashboard.html"><h3 class="logo">Auto<span>Garage</span></h3></a>
        </div>

        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .85s">
                        <a href="#">Why AutoGarage?<img style="width: 20px; height: 20px;" th:src="@{/images/point-down.png}"></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="car">Car services</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="car">Prices</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="car">Real photes</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="#">Tools<img style="width: 20px; height: 20px;" th:src="@{/images/point-down.png}"></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="addcar">Add a car</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="addAutoService">Add a garage</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="addAppointment">Make an appointment</a>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>

            <div class="log-sign" style="--i: 1.8s">
                <a href="#"><img style="width: 25px; height: 25px;" th:src="@{/images/user_black.png}"></a>
                <div class="dropdown-profile">
                    <ul>
                        <li style="border-bottom:2px solid #efefef">
                            <a href="/">
                                <div>
                                    <img th:src="@{/images/dashboard.png}"/>
                                </div>
                                <div>
                                    <p>Dashboard</p>
                                </div>
                            </a>
                        </li>
                        <li><a href="editProfile">
                                <div>
                                    <img th:src="@{/images/edit_profile_blue.png}"/>
                                </div>
                                <div>
                                    <p>Edit</p>
                                </div>
                            </a>
                         </li>
                        <li><a href="hone">
                                <div>
                                    <img th:src="@{/images/logout.png}"/>
                                </div>
                                <div>
                                    <p>Log out</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
<section>
<div>
    <div class="table-cars">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Number plate</th>
                <th>Car brand</th>
                <th>Model</th>
                <th>Power (HP)</th>
                <th>Type</th>
                <th>Year of appearance</th>
                <th>Consumption (100 km)</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${carList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.numberPlate}"></td>
                <td th:text="${item.carBrand}"></td>
                <td th:text="${item.model}"></td>
                <td th:text="${item.power}"></td>
                <td th:text="${item.type}"></td>
                <td th:text="${item.year}"></td>
                <td th:text="${item.consumption}"></td>
                <td>
                    <div class="actions">
                    <div>
                        <a th:href="@{/car/} + ${item.id}"><button class="btn btn-danger">Edit</button></a>
                    </div>
                    <div>
                        <form th:action="@{/deleteCar}" th:object="${car}" method="post">
                            <!--<input class="d-none" name="carId" th:value="${car.id}">-->
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</section>
<footer>
    <div class="overflow">
        <div>
            <h4 style="padding-top: 120px;" class="logo">Auto<span>Garage</span></h4>
        </div>
        <div>
            <h4 style="padding-top: 200px;">Web development with Spring Boot, Endava</h4>
        </div>
    </div>
</footer>
</body>
<script th:src="@{/js/logo-profile.js}"></script>
</html>